
body{
    background-color: #ffc8dd;
    font-family: "Montserrat" , sans-serif;
}
.nabtn:hover{
    color: red;
}
h1{
    color: white;
}
span{
    color: red;
}
img{
    width: 800px;
    height: 800px;
}