


section div {
    width: 100px;
    height: 100px;
    background-color: mediumaquamarine;
    border-radius: 50%;
    
    margin: 20px;
    transition: margin-left 8s;
    font-size: 100px;
    
}
section div:hover{
    background-color: turquoise;
    border-radius: 0%;
}

section:hover div{
    margin-left: 1100px;
    
}
div:nth-of-type(1){
    transition-timing-function: ease-in;
}
div:nth-of-type(2){
    transition-timing-function: ease-out;
}
div:nth-of-type(3){
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

}
div:nth-of-type(4){
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
div:nth-of-type(5){
    transition-timing-function:ease-in-out;
}
